@model List<kuras.AxaptaViewModels.AxaptaViewModel>
@{
    ViewData["Title"] = "Cars + Emps + Kort";
    Layout = "~/Views/Shared/_WideTableLayout.cshtml";
}

<h1>Cars + Employess</h1>
<p>
    <a asp-action="Refine">
        Go to refine
    </a>
</p>

<table class="table thead-sticky">
    <thead>
        <tr>
            <th>
                Card Number
            </th>
            <th>
                Card Number D
            </th>
            <th>
                Number Plate
            </th>
            <th>
                Make and Model
            </th>
            <th>
                Type
            </th>
            <th>
                Employee Id
            </th>

            <th>
                Blocked
            </th>
            <th>
                Name
            </th>
            <th>
                Group
            </th>
            <th>
                City Code
            </th>
            <th>
                Occupation
            </th>
            <th>
                EmpID
            </th>
        </tr>
    </thead>
    <tbody id="searchTable">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DsAutoKort.CardNumberShort)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DsAutoKort.CardNumberD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DsAuto.NumberPlate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DsAuto.MakeModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DsAuto.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DsAuto.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DsAuto.Blocked)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AxEmployee.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AxEmployee.Dimension)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AxEmployee.StateId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AxEmployee.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AxEmployee.Emplid)
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>

        $(document).ready(function () {
            $('tbody > tr').click(function () {
                //Check to see if background color is set or if it's set to white.
                if (this.style.background == "" || this.style.background == "white") {
                    $(this).css('background', '#f54842');
                }
                else {
                    $(this).css('background', 'white');
                }
            });
            $(function() {
                $("#myTable").tablesorter();
            });
        });
    </script>
}

